<section style="padding-top: 100px;">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <h3>Add Your Products</h3>
            </div>
      <form action="/admin/add-product"method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="">Name</label>
          <input
            type="text"
            class="form-control"
            name="Name"
            placeholder=""
            maxlength="52"
            required
          />
        <div class="form-group">
          <label for="">Category</label>
          <input
            type=""
            class="form-control"
            name="Category"
            required
          />
          <div class="form-group">
          <label for="">Price</label>
          <input
            type=""
            class="form-control"
            name="Price"
            required
          />
          <div class="form-group">
          <label for="">Description</label>
          <input
            type=""
            class="form-control"
            maxlength="123"
            name="Description"
           required
          />
          <div class="form-group">
          <label for="">Image</label>
          <input
            type="file"
            class="form-control"
            name="Image"
            required
          />
          <button type="submit" class="btn btn-primary mt-3" ondblclick="alert('Product is added')" >Submit</button>
      </form>
      </div>
    </div>
  </div>
</section>