<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto pt-5">
        <h2 class="text-center mb-3 pb-5">Login</h2>
        <form action="/admin/login" method="post" enctype="multipart/form-data" id="login">
        {{#if loginErr}}
              <p class="error" style="color: red;"> {{loginErr}}</p>
              {{/if}}
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" name="Email"/>
            <label class="form-label" for="form2Example2">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" name="Password"/>
            <label class="form-label" for="form2Example3">Password</label>
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form2Example31"
                  checked
                />
                <label class="form-check-label" for="form2Example31">
                  Remember me
                </label>
              </div>
            </div>

            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>

          <!-- Register buttons -->
          
        </form>
      </div>
    </div>
  </div>
</section>